* {
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
}

.title {
    margin: auto;
    color: whitesmoke;
    text-align: center;
    background-color: #4287f5;
}

h1 {
    padding: 3px;
}

#nav-items {
    border: 1.5px solid #4287f5;
    padding: auto;
    margin: auto 2px;
    background: rgba(213, 223, 240, 0.8);
}

.form {
    margin: 15px 5px;
    padding: 10px;
    background: rgba(213, 223, 240, 0.8);
    border: 1.5px solid #4287f5;
}

@media only screen and (max-width: 768px) {
    body {
        background-image: url("background.jpg");
        background-repeat: repeat-y;
    }
    .form {
        margin: 15px 0px;
    }
}